# Python bytecode
__pycache__/
*.py[cod]

# Django specific
*.sqlite3
*.log
*.pot
*.pyc

# Media / uploads
media/
media/static/images/profiles/
*.jpg
*.jpeg
*.png
*.gif

# Static generated
staticfiles/

# IDE / Editor folders
.vscode/
.idea/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
